{% extends "base.html" %}
{% load smartif %}

{% block body_block %}
 
	<table width="100%" border="1" cellspacing="0" cellpadding="0">
    	<tr>
        	<th scope="col">Interest</th>
            <th scope="col">Organization</th>
            <th scope="col">Status</th>
            <th scope="col">Terms</th>
            <th scope="col">Leads</th>
            <th scope="col">Lead</th>
            <th scope="col">Total</th>
            <th scope="col">Action</th>
        </tr>
        {% for term in terms %}
        <tr>
        	<td>{{term.deal.interest.interest}}</td>
            <td>{{term.deal.chapter.name}}</td>
            <td>{{term.status}}</td>
            {% if term.cancel %}
            	{% if term.exclusive %}
                	<td>Exclusive</td>
                {% else %}
                	<td>Non Exclusive</td>
                {% endif %}
            {% else %}
            	<td>Trial</td>
            {% endif %}

            <td>{{term.connections|length}}</td>
            <td>{{term.cost}}</td>
            <td>{{term.total}}</td>
            <td><a href='{% url lb_details %}?term={{term.pk}}'>Details</a></td>
         </tr>
		{% endfor %}
	</table>
    <a href="{% url lb_apply %}">Apply to buy leads from a new community</a>
 	<br />
 	<br />
	<form class="clearfix" action="{% url lb_dash %}" method="post">
    {% csrf_token %}
    	<fieldset>
       		<div class="clearfix">
                <h1 class="left">Monthly Budget</h1>
            </div>
            <div class="personal">
            	<div class="ctrlHolder clearfix">
            		{{form.budget}}
 				  	{{form.budget.errors}}
           		</div>
           		<div class="section">
              	<button type="submit" class="button orange form-submitter right">
              		<span><strong>&nbsp;</strong>Update Budget</span>
              	</button>
              </div>
           	</div>
         </fieldset>
	</form>
	<br />
	<a href="{% url lb_profile %}">Update Your Profile</a>
{% endblock %}
