
{% extends 'base.html' %}

	{% block body_block %}
		<div class="content clearfix">
          <ul class="steps clearfix">
            <li><div class="last "><span>STEP 3 of 3</span></div></li>

            <li><div class="first active  "><span>STEP 2 of 3</span></div></li>

            <li><div class=" "><span>STEP 1 of 3</span></div></li>
          </ul>

          <form class="clearfix" action={% url lb_payment %} method="post">
           {% csrf_token %}
            <fieldset>
              <div class="clearfix">
                <span class="orange-circle left">1</span>

                <h1 class="left">Lead-Buyer Profile</h1>
              </div>

              <div class="personal">
                <div class="ctrlHolder clearfix">
                  <label for="card_number">Credit Card Number <em>*</em></label> 
  				 {{form.card_number}}
  				 {{form.card_number.errors}}
                </div>

                <div class="ctrlHolder clearfix">
                  <label for="expiration_date">Expiration Date <em>*</em></label> 
                  {{form.expiration_date}}
                  {{form.expiration_date.errors}}
                </div>
                <!--
                <div class="ctrlHolder clearfix">
                  <label for="expiration_date">Billing Address <em>*</em></label> 
                  {{form.billing_addr}}
                  {{form.billing_addr.errors}}
                </div>
                -->
                <div class="ctrlHolder clearfix">
                  <label for="expiration_date">Monthly Budget <em>*</em></label> 
                  {{form.budget}}
                  {{form.budget.errors}}
                </div>

              <div class="section">
              	<button type="submit" class="button orange form-submitter right">
              		<span><strong>&nbsp;</strong>Submit Card Info</span>
              	</button>
              </div>
            </fieldset>
          </form>
        </div>
	{% endblock %}
