{% extends "base.html" %}
{% load smartif %}

{% block body_block %}
		<div class="content clearfix">
          <form class="clearfix" action="{% url lb_profile %}" method="post">
           {% csrf_token %}
            <fieldset>
              <div class="clearfix">
                <span class="orange-circle left">1</span>

                <h1 class="left">Lead-Buyer Profile</h1>
              </div>

              <div class="personal">
                <div class="ctrlHolder clearfix">
                  <label for="first_name">First Name <em>*</em></label> 
                  {{form.first_name}}
 				  {{form.first_name.errors}}
                </div>

                <div class="ctrlHolder clearfix">
                  <label for="last_name">Last Name <em>*</em></label> 
                  {{form.last_name}}
                  {{form.last_name.errors}}
                </div>

                <div class="ctrlHolder clearfix">
                  <label for="lead_buyer_email">Lead-Buyer Email <em>*</em></label>
                  {{form.email}}
                  {{form.email.errors}}
                </div>

                <div class="ctrlHolder clearfix">
                  <label for="verify_email">Verify Email <em>*</em></label> 
                  {{form.email_verify}}
                  {{form.email_verify.errors}}
                </div>

                <div class="ctrlHolder clearfix">
                  <label for="password">Password <em>*</em></label> 
                  {{form.password}}
                  {{form.password.errors}}
                </div>

                <div class="ctrlHolder clearfix">
                  <label for="verify_password">Verify Password <em>*</em></label>
                  {{form.pass_confirm}}
                  {{form.pass_confirm.errors}}
                </div>

                <div class="ctrlHolder clearfix">
                  <label for="company">Company <em>*</em></label> 
                  {{form.company}}
                  {{form.company.errors}}
                </div>

                <div class="ctrlHolder clearfix">
                  <label for="title">Title <em>*</em></label> 
                  {{form.title}}
                  {{form.title.errors}}
                </div>

                <div class="ctrlHolder clearfix">
                  <label for="website">Website <em>*</em></label> 
                  {{form.website}}
                  {{form.website.errors}}
                </div>

                <div class="ctrlHolder clearfix">
                  <label for="phone">Phone</label> 
                  {{form.phone}}
                  {{form.phone.errors}}
                </div>
              </div>

              <div class="social">
                <div class="ctrlHolder clearfix">
                  <label for="linkedin">LinkedIn</label> 
                  {{form.linkedin}}
                  {{form.linkedin.errors}}
                </div>

                <div class="ctrlHolder clearfix">
                  <label for="twitter">Twitter</label> 
                  {{form.twitter}}
                  {{form.twitter.errors}}
                </div>
              </div>

              <div class="clearfix section" style="margin-top: 0">
                Fields marked with <em>*</em> are mandatory
              </div>

              <div class="section">
              	<button type="submit" class="button orange form-submitter right">
              		<span><strong>&nbsp;</strong>Create / Update Profile</span>
              	</button>
              </div>
            </fieldset>
          </form>
        </div>
{% endblock %}
