/* Edit #1 <- these just need to bwe added at the end of style.css */
.left {
    float: left;
}
.right {
    float: right;
}
    
h1.orange {
    font-size: 24px;
}
.orange {
    color: #fcb43e;
}
.futura {
    font-family: FuturaMdBTMedium;
}

/* Edit #2 */
.videobg {
	border: 1px solid #d9dada;
	padding: 16px;
}
    .videobg .new-vid {
        float: left;
        padding: 4px;
        border: 1px solid #cdcccd;
        border-radius: 5px;
        -moz-box-shadow: 0 0 6px #d8d8d8;
        -webkit-box-shadow: 0 0 6px #d8d8d8;
        box-shadow: 0 0 6px #d8d8d8;
        background: #f0f1f1;
	}
    #under-30 {
        float: right;
        width: 434px;
        padding-top: 23px;
    }
    
/* Edit #3 */
body{
	padding:0 0 0 0;
	margin:0;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#000;
}

/* Edit #4 */
#bodysection{
	width:100%;
	background:url(/media/img/bodybg.jpg) repeat-x 0 0 #F7F7F7;
	padding:0 0 0 0;
	
	}
    
/* Edit #5 <- these just need to be added at the end of style.css */
#ceo-holder {
    margin-top: 8px;
}
    #ceo {
        float: left;
        padding: 2px;
        border: 1px solid #dfdfde;
    }
        #ceo p.futura {
            padding-top: 2px;
            font-size: 18px;
        }
        #ceo p {
            padding: 0 8px;
        }    
    #ceo-info {
        float: left;
        width: 206px;
        margin-left: 6px;
    }
        #ceo-info header {
            font-size: 16px;
            color: white;
            font-weight: bold;
            padding: 14px 16px;
            background: black;
        }
        #ceo-info div {
            height: 142px;
            padding: 22px 15px;
            line-height: 140%;
            border: 1px solid #dfdfde;
        }
    
ul.squares {
    list-style-type: none;
}
    ul.squares li {
        padding-left: 9px;
        background: url(/media/img/ico-square.gif) no-repeat 0 6px;
    }
    
.btn-humungus-yellow {
    display: block;
    text-align: center;
    text-shadow: #c18017 0 2px 2px;
    line-height: 1.1em;
    font-size: 16px;
    color: white;
    font-weight: bold;
    letter-spacing: -1px;
    width: 196px;
    height: 78px;
    margin-top: 11px;
    padding-top: 11px;
    background: url(/media/img/btn-humungus-yellow.png) no-repeat top left;
}
.btn-humungus-yellow.smaller {
    letter-spacing: 0;
    width: 177px;
    height: 58px;    
    line-height: 58px;    
    background: url(/media/img/btn-humungus-yellow-smaller.png) no-repeat top left;
}
.btn-humungus-yellow:hover {
    color: black;
}

#steps {
    margin-top: 26px;
    -moz-box-shadow: 0 2px 5px #dfdede;
    -webkit-box-shadow: 0 2px 5px #dfdede;
    box-shadow: 0 2px 5px #dfdede;  
}
    #steps .info {
        padding: 16px;
        background: white;
        position: relative;
    }
        #steps .info #connect,
        #steps .info #approve,
        #steps .info #get-paid {
            width: 650px;
        }
        #steps .info #approve {
            background-image: url(/media/img/ico-envelope.png);
        }
        #gmail-example {
            display: block;
            position: absolute;
            top: 56px;
            right: 41px;
            color: black;
            width: 214px;
            height: 47px;
            padding: 156px 0 0 45px;
            background: url(/media/img/gmail-example.gif) no-repeat center center;
        }
            #gmail-example h3 {
                letter-spacing: -1px;
                font-family: FuturaMdBTMedium;
                font-size: 18px;
                color: black;
            }
            #gmail-example strong {
                color: black;
            }
        #gmail-example:hover {
            text-decoration: underline;
        }
    #steps .buttons {
        padding: 22px 44px;
        background: #f5f6f6;
    }
        #steps .buttons .btn-humungus-yellow {
            line-height: 130%;
            padding-top: 18px;
        }
            #steps .buttons .btn-humungus-yellow strong {
                font-size: 18px;
            }
            #steps .buttons .btn-humungus-yellow p {
                font-size: 13px;
                font-style: italic;
                font-weight: normal;
            }
    
ul.goldbullet {
	padding: 0;
	margin: 0;
	margin-top: 12px;
    margin-left: 35px;
}
    ul.goldbullet li {
        background:url(/media/img/ico-good-gold.png) no-repeat 0 0;
        color: #000;
        padding: 0 0 0 25px;
        margin: 4px 0;
    }
    

/* Pop-up: */
#pop-up-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 190px;
    background: url(/media/img/bg-popup.png);
}
    #actual-popup {
        display: block;
        width: 719px;
        height: 406px;
        margin: 0 auto;
        padding: 47px 0;
        background: url(/media/img/pop-up-select.png) no-repeat top left;
    }
        #actual-popup h1 {
            font-size: 36px;
            margin: 26px 0;
        }
        #actual-popup select {
            width: 309px;
            height: 47px;
            border: 0;
            padding: 14px;
            font-size: 14px;
            background: url(/media/img/bg-select.png) no-repeat top left transparent;
        }
        #actual-popup .btn-humungus-yellow {
            display: inline-block;
            font-size: 18px;
            font-family: FuturaMdBTMedium;
            font-weight: normal;
            line-height: 58px;
            padding: 0;
            margin-top: 20px;
        }
    
    #service-error {
        color: #C70003;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
        margin-top: 8px;
    }


