/* Global Styles */

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}

td {
	font:15px verdana;
	color:#000000;
	}
	
hr {
	height:1px; 
	color: #ffffff;
	border: none;
	}
	
a {
	color: #888888;
	text-decoration:none;
	}
	
a:hover {
	color: #000000;
	text-decoration:none;
	}

a:visited {
	text-decoration:none;
	}

ul
  {
  margin-left: 1em;
  padding-left: 0;
  }
li
  {
  margin: 0;
  padding: 0;
  }
	
/* ID Styles */

#navigation a {
	font:11px verdana;
	color: #ffffff;
	font-weight:bold;
	text-decoration: none;
	letter-spacing:.1em;
	line-height:16px;
	display:block;
	padding:10px;
	border: 1pt solid rgb(20,40,95);
	border-right-width: 0px; 
	border-left-width: 0px; 
	}
	
#navigation a:hover {
	color:#ffffff;
	border: 1pt dotted red;
	border-right-width: 0px; 
	border-left-width: 0px; 
	}
	
#sidebarHeader {
	padding: 0px 4px 14px 4px;
	}
	
#dateformat a {
	color:#ffffff;
	font:11px verdana;
	color: #000000;
	letter-spacing:.2em;
	text-decoration:none;
	font-weight:bold;
	}
	
#dateformat a:hover {
	color: #ffffff;
	}


.navLogin {
	font-size: 11px;
	position: absolute;
	right: 3px;
	top: 15px;
}

.navBar {
height: 100px;
position: relative;
top: 4px;
}


.oneColFixCtr #container {
	width: 780px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
}
.oneColFixCtr #mainContent {
	padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}
