/* 
Title:		screen styles & ie fixes
Author:		Andrei Pfeiffer (andrei@upsidedown.ro)
Copyright:	RealNet. www.realnet.com.ro
*/


/* RESET STYLES
__________________________________________________*/
/*@import url(reset.css);*/


/* TEMPLATE STYLES (common styling for all pages, excluding content)
__________________________________________________*/
@import url(site-template.css);


/* CONTENT STYLES (specific styling for the pages content ONLY)
__________________________________________________*/
@import url(site-styling.css);




/* AUXILIAR Styles
__________________________________________________*/


/* CLEARFIX STYLE */
@import url(clearfix.css);
	
/* BUTTONS STYLES (sliding doors buttons & links) */
@import url(site-buttons.css);

/* FORMS STYLES (using UniForm) */
@import url(uni-form-generic.css);
@import url(uni-form.css);

