/* ------------------->>> Button Styles <<<-----------------------*/
button {
	border: 0; 
	cursor: pointer; 
	text-align: center;
	outline: 0;
}
button span, a.large span, a.medium span, a.small span { 
	position: relative;  
	white-space: nowrap;
	text-decoration: none;
}

.button {
	cursor: pointer; 
	display: inline-block;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
.button span { 
	display: block; 	
	width: auto; 
	margin: 0px;
}
.button:hover {
	text-decoration: none;
}

.button.menu {
	cursor: pointer;
	text-align: left;
	padding-right: 4px;
	margin-right: 4px;
	background: url(./slidingDoors/btn-menu-right.png) bottom right no-repeat;	
}
.button.menu:hover, .button.menu.active {
	background-position: top right;
}
	.button.menu span {
		font-size: 12px;
		font-weight: bold;
		height: 31px;
		line-height: 30px; 
		color: black;
		padding-left: 13px;
		padding-right: 9px;
		background: url(/media/img/slidingDoors/btn-menu-left.png) bottom left no-repeat;
	}
	.button.menu:hover span, .button.menu.active span {
		color: white;
		background-position: top left;
	}

.button.orange {
	cursor: pointer;
	text-align: left;
	padding-right: 5px;
	background: url(/media/img/slidingDoors/btn-orange-right.png) top right no-repeat;	
}
.button.orange:hover, .button.orange.active {
	
}
	.button.orange span {
		position: relative;
		font-size: 12px;
		font-weight: bold;
		height: 33px;
		line-height: 32px; 
		color: white;
		padding-left: 27px;
		padding-right: 6px;
		background: url(/media/img/slidingDoors/btn-orange-left.png) top left no-repeat;
	}
	.button.orange:hover span, .button.orange.active span {
		color: #3d2512;
	}
		.button.orange span strong {
			position: absolute;
			left: 12px;
			top: 11px;
			display: block;
			width: 9px;
			height: 12px;
			background: url(./index/ico-arrow-brown.gif) center left no-repeat;
		}
		


/* -----------------> BOXES <--------------------------------*/
.big-box {
	margin-left: -4px;
}
	.big-box .top {
		display: block;
		width: 519px;
		height: 5px;
		background: url(/media/img/slidingDoors/big-box-top.png) no-repeat top left;
	}
	.big-box .content {
		position: relative;
		display: block;
		width: 507px;
		min-height: 50px;
		padding: 0 6px;
		background: url(/media/img/slidingDoors/big-box-content.png) repeat-y;	
	}
		.big-box .content form fieldset {
			padding: 20px 23px;
			width: 461px;
		}
	.big-box .bottom {
		display: block;
		width: 519px;
		height: 8px;
		background: url(/media/img/slidingDoors/big-box-bottom.png) no-repeat top left;	
	}





* html button { 
	width: auto; 
	/*overflow: visible;
	*/position: relative;
	margin-top: -4px;
}

* html button span { 
	margin-top: 4px;
}

*:first-child+html button { 
	width: auto; 
	overflow: visible; 
}
 /*FOR IE7*/
*:first-child+html button{ 
	/*margin-top: -2px;*/
}
 /*FOR IE7*/
*:first-child+html button span{ 
	/*margin-top: 0px;*/
}

