/****************** >     INDEX      < ******************/

.steps {
	position: relative;
	list-style-type: none;
	border-bottom: 1px solid black;
}
	.steps li {
		float: right;
	}
		.steps li a {
			display: block;
			padding-right: 15px;
			margin-left: -15px;
			background: url(/media/img/index/bg-step-right.png) no-repeat top right;
		}
		.steps li a.first {
			margin-left: 0;
		}
		.steps li a.last {
			padding-right: 0;
			background: none;
		}
			.steps li a span {	
				display: block;
				color: black;
				text-align: center;
				width: 169px;
				height: 44px;
				line-height: 44px;
				background: #efeff0;
			}
		.steps li a:hover, .steps li a.active {
			text-decoration: none;
			background: url(/media/img/index/bg-step-right.png) no-repeat bottom right;
		}
			.steps li a:hover span, .steps li a.active span {			
				color: white;
				background: #fab33d;
			}
			
.orange-circle {
	display: block;
	text-align: center;
	width: 32px;
	height: 32px;
	line-height: 32px;	
	color: white;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
	background: url(/media/img/index/ico-orange-circle.png) no-repeat top left;
}

form fieldset {
}
form .personal, form .social, form .section {
	display: block;
	margin-top: 13px;
	padding: 1px 9px 1px 22px;
	background: #f5f6f6;
	border-radius: 3px;
}
form .social {
	background: #e3f1f4;	
}
form .section {
	background: none;
	border-radius: none;
}
	form .section .errorMsg-under p {
		text-align: left;
	}