{% extends "admin/admin.html" %}

{% block body_block %}
	<div id='show_available_leads'>
		<form action="{% url show_available_deals %}" method="post">
			{% csrf_token %}
			{{form}}
		 	<input type="image" name="submit" src=/media/img/btn-submit.gif />
		</form>
		{% for event, count in report.items %}
			<p>
			{{event.describe}} has {{count}}
			{% if count > 1 %} leads {% else %} lead {% endif %}
			<a href="{% url buy_deal %}?event={{event.pk}}&interest={{interest}}"> apply to buy leads </a>
			</p>
		{% endfor %}

	</div>
{% endblock %}
