{% extends 'base.html' %}
{% load smartif %}

{% block body_block %}
    <form action="{% url edit_chapter %}" method="post" >
       {% csrf_token %}
        <fieldset>
 		{{ form }}
        <input type="image" name="submit" src=/media/img/btn-submit.gif />
        </fieldset>
    </form>
    <menu>
    	<li><a href = '{% url show_events     %}?chapter={{form.instance.pk}}'>View Events</a></li>
    	<li><a href = '{% url edit_letter     %}?chapter={{form.instance.pk}}'>Upload Email Template</a></li>
    	<li><a href = '{% url show_deals      %}?chapter={{form.instance.pk}}'>Show Deals</a></li><br/>
    	<li><a href = '{% url edit_deal       %}?chapter={{form.instance.pk}}'>Create New Deal</a></li>
  		<li><a href = '{% url show_connection %}?chapter={{form.instance.pk}}'>Show Connections</a></li>
    </menu>

{% endblock %}