{% extends 'base.html' %}
{% load smartif %}

{% block body_block %}
     <div id='deal'>
 	   <form action="{% url edit_profile %}" method="post" >
       {% csrf_token %}
       <fieldset>
            {{form}}
            {{lead}}
            <input type="image" name="submit" src=/media/img/btn-submit.gif />
        </fieldset>
    </form>

    <a href='{% url linkedin %}'><img src='/media/img/Linkedin.png' alt='LinkedIn' /></a>
    <a href='{% url meetup   %}'><img src='/media/img/meetup.png' alt='Meet Up'/></a>
 	</div>
{% endblock %}