{% extends 'base.html' %}

{% block body_block %}
	<form action="{% url login %}" method="post" name="login" id="login">
	{% csrf_token %}
		<fieldset>
			<div class="personal">
            	<div class="ctrlHolder clearfix">
                	<label for="lead_buyer_email">Email Address <em>*</em></label> 
       				{{ form.username }}
       				{{ form.username.errors }}
                </div>
                			
                <div class="ctrlHolder clearfix">
                	<label for="password">Password <em>*</em></label> 
                  	{{form.password}}
                  	{{form.password.errors}}
                </div>
                
				<div class="section">
              		<button type="submit" class="button orange form-submitter right">
              			<span><strong>&nbsp;</strong>Login</span>
              		</button>
              	</div>
              </div>
		</fieldset>
	</form>
{% endblock %}