{% extends "base.html" %}

{% block body_block %}
	<div id="signupform">
        <form action="{% url signup %}" method="post" class="sup" id="sign"  Signup" name="sign">
          {% csrf_token %}
   		    {{form.email.label}}{{form.email}}{{form.email.errors}}<br/>
   		    {{form.first_name.label}}{{form.first_name}}{{form.first_name.errors}}<br/>
    		{{form.last_name.label}}{{form.last_name}}{{form.last_name.errors}}<br/>
    		{{form.is_organizer.label}}{{form.is_organizer}}{{form.is_organizer.errors}}<br/>
  			{{form.is_leadbuyer.label}}{{form.is_leadbuyer}}{{form.is_leadbuyer.errors}}<br/>
          <input  type="submit" value="Create Account" class="button" /><br />
        </form>
	</div>
{% endblock %}
