{% extends 'admin/admin.html' %}
{% load smartif %}

{% block body_block %}
	{% if chapters %}
		{% for chapter in chapters %}
    		<a href='{% url chapter %}?chapter={{chapter.pk}}'>{{ chapter.name }}</a>
    		{{ chapter.configured }}
    		{% if not chapter.configured %}
    		<a href = '{% url remind %}?chapter={{chapter.pk}}'>Send Reminder</a>
    		{% endif %}
    		<br />
 		{% endfor %}
 		</br>
 		<a href='{% url chapter %}?chapter=new'}>Create New Chapter</a>
 	{% endif %}
 	
 	{% if form %}
	<form action="{% url chapter %}?chapter={{chapter.pk}}" method="post" enctype="multipart/form-data" >
       {% csrf_token %}
       	<fieldset>
 			{{form}}
        	<input type="submit" name="submit" />
    	</fieldset>
    </form>
    <menu>
        <li><a href='{% url profile    %}?user={{chapter.organizer.pk}}'>{{chapter.organizer.first_name}} {{chapter.organizer.last_name}}</a></li>
        <li><a href='{% url eventbrite %}?chapter={{chapter.pk}}'>Eventbrite Info</a></li>
        <li><a href='{% url deal       %}?chapter={{chapter.pk}}'>Deals</a></li>
        <li><a href='{% url event      %}?chapter={{chapter.pk}}'>Events</a></li>
        <li><a href='{% url commission %}?chapter={{chapter.pk}}'>Commissions</a></li>
    </menu>
    {% endif %}

{% endblock %}