{% extends "admin/admin.html" %}

{% block body_block %}
	<table id = 'events'>
 	{% for connection in connections %}
        <tr>
            <td><a href='{%url connection %}?connection={{connection.pk}}'>{{connection.survey.interest}}</a></td>
        	<td>{{connection.survey.attendee.first_name}} {{connection.survey.attendee.last_name}}</td>
        	<td>{{connection.term.buyer.first_name}} {{connection.term.buyer.last_name}}</td>
        	<td>{{connection.date}}</td>
        	<td>{{connection.status}}</td>
        	<td>{{connection.term.cost}}</td>
        	<td>{{connection.survey.event.describe}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
