{% extends "admin/admin.html" %}

{% block body_block %}
	{% if invoices %}
	<table id = 'invoices'>
 	{% for invoice in invoices %}
        <tr>
            <td>{{invoice.pk}}</td>
            <td>{{invoice.user.first_name}}{{invoice.user.last_name}}</td>
            <td>{{ invoice.user.email }}</td>
            <td>{{ invoice.title }}</td>
            <td>{{invoice.issued|date:"M d, Y" }}</td>
            <td>{{invoice.cost}}</td>
            <td>{{invoice.status}}</td>
            <!--  
            <td>{{invoice.commissions|length}}
            -->
            <td>{% for c in invoice.commissions %}{{c}}{%endfor %}</td>
            {% if invoice.authorized %}
            <td>Billable</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
	{% endif %}
	
	{% if form %}
    	<form action="{% url invoice %}?invoice={{invoice.pk}}" method="post" >
       	{% csrf_token %}
       		<fieldset>
 				{{form}}
        		<input type="submit" name="submit", value="Issue Invoice" />
    		</fieldset>
    	</form>
 	
 		
 		<table>
    	{% for connection in connections %}
    		<tr>
    		<td> <a href='{% url connection %}?connection={{connection.pk}}''</a>{{connection.pk}}</td>
            <td>{{connection.survey.interest}}</td>
        	<td><a href='{%url profile %}?user={{connection.survey.attendee.pk}}'>{{connection.survey.attendee.first_name}} {{connection.survey.attendee.last_name}}</a></td>
        	<td>{{connection.term.buyer.first_name}} {{connection.term.buyer.last_name}}</td>
        	<td>{{connection.date}}</td>
        	<td>{{connection.status}}</td>
        	<td>{{connection.term.cost}}</td>
        	<td>{{connection.survey.event.describe}}</td>
        	</tr>
    	{% endfor %}
    	</table>
    </form>
    {% endif %}
{% endblock %}
