{% extends "admin/admin.html" %}

{% block body_block %}
	{% if leadbuyers %}
	<table id = 'leadbuyer'>
 	{% for leadbuyer in leadbuyers %}
        <tr>
            <td><a href='{%url leadbuyer%}?leadbuyer={{leadbuyer.pk}}'>{{leadbuyer.user.email}}</td>
            <td>{{leadbuyer.user.first_name}}</td>
            <td>{{leadbuyer.user.last_name}}</td>
            {% if leadbuyer.authorized %}
            <td>Authorized</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    
    {% if form %}
    <form action="{% url leadbuyer %}?leadbuyer={{leadbuyer.pk}}" method="post" >
       {% csrf_token %}
       	<fieldset>
 			{{form}}
        	<input type="submit" name="submit" />
    	</fieldset>
    </form>
    <menu>
   		<li><a href='{% url connection %}?leadbuyer={{leadbuyer.pk}}'>Connections</a></li>
        <li><a href='{% url term       %}?leadbuyer={{leadbuyer.pk}}'>Terms</a> {{leadbuyer.deals|length}} </li>
        <li><a href='{% url profile    %}?user={{leadbuyer.user.pk}}'>Profile</a></li>
    </menu>
    {% endif %}
{% endblock %}
