{% extends "admin/admin.html" %}

{% block body_block %}
	{% if surveys %}
		<table id = 'events'>
 		{% for survey in surveys %}
        <tr>
            <td><a href='{%url survey %}?survey={{survey.pk}}'>{{survey.attendee.email}}</a></td>
            <td><a href='{%url profile%}?user={{survey.attendee.pk}}'>{{survey.attendee.first_name}} {{survey.attendee.last_name}}</a></td>
            <td>{{survey.interest}}</td>
            <td><a href='{% url event %}?event={{survey.event.pk}}'>{{survery.event}}</a></td>
        </tr>
    	{% endfor %}
    </table>
    {% endif %}
    
    {% if form %}
    <form action="{% url survey %}" method="post" >
       {% csrf_token %}
       	<fieldset>
 			{{form}}
        	<input type="submit" name="submit" />
    	</fieldset>
    </form>
    {% endif %}
{% endblock %}
