{% extends "admin/admin.html" %}

{% block body_block %}
	<table id = 'terms'>
 	{% for term in terms %}
        <tr>
            <td><a href='{%url term %}?term={{term.pk}}'>{{term.deal.interest.interest}}</a></td>
            <td>{{term.deal.chapter.name}}</td>
            <td>{{term.buyer.first_name}} {{term.buyer.last_name}}</td>
            <td>{{term.cost}}</td>
            <td>{{term.exclusive}}</td>
            <td>{{term.status}}</td>
            <td>{{term.modified}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
