{% extends "admin/admin.html" %}

{% block body_block %}
	<table id = 'terms'>
 	{% for term in terms %}
        <tr>
            <td><a href='{%url term %}?term={{term.pk}}'>{{term.pk}}</a></td>
            <td>{{term.deal.interest.interest}}
            <td>{{term.deal.chapter.name}}</td>
            <td><a href='{%url leadbuyer %}?user={{term.buyer.pk}}'>{{term.buyer.first_name}}&nbsp;{{term.buyer.last_name}}</td>
            <td>{{term.cost}}</td>
            {% if term.exclusive %} 
            	<td>Exclusive</td>
            {% else %}
            	{% if term.expire %}
            		<td>Trial</td>
            	{% else %}
            		<td>Standard</td>
            	{% endif %}
            {% endif %}
            
            
            <td>{{term.status}}</td>
            <td>{{term.modified}}</td>
            {% if term.status == 'pending' %}
            	<td><a href={% url remind %}?term={{term.pk}}>Send Reminder</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    {% if form %}
	<form action="{% url term %}?term={{term.pk}}" method="post" >
       {% csrf_token %}
       	<fieldset>
 			{{form}}
        	<input type="submit" name="submit" />
    	</fieldset>
    </form>
    {% endif %}
{% endblock %}
