{% extends "admin/admin.html" %}

{% block body_block %}
    <div id="bodyc">
    	<div id="welcom">
    		Welcome {{user}}<br/>
			{% if user.is_staff %}
			<li><a href = '{% url chapter %}' 		>Chapters		</a></li>
			<li><a href = '{% url leadbuyer %}'		>LeadBuyers	    </a></li>
			<li><a href = '{% url term %}?pending'	>Pending Terms 	</a></li>
			<li><a href = '{% url invoice %}'		>Invoices		</a></li>
			<li><a href = '{% url commission %}'	>Commissions	</a></li>
			<li><a href = '{% url interest %}'		>Interests     	</a></li>
			<li><a href = '{% url meetup %}'		>MeetUp        	</a></li>
			<li><a href = '{% url eventbrite %}'	>Eventbrite     </a></li>
					
			{% endif %}
			<li><a href='{% url logout %}'>Log Out</a></li>
    	</div>
	</div>
{% endblock %}
