{% extends 'base.html' %}
{% load fortyfive %}

{% block javascript %}
<!--popup script start-->
<link type='text/css' href='/media/css/basic.css' rel='stylesheet' media='screen' />
<script type="text/javascript" src="/media/js/jquery.simplemodal.js"></script>
<script type="text/javascript" src="/media/js/basic.js"></script>
<!--popup script end-->
{% endblock %} 
  
{% block body_block %}
<!--Body section-->
<div id="bodysection">
	<div class="insidesection">
		<section class="leadbuyer">
			{% if state %}
			<p class="profileupdate">
			<span>Profile Updated</span>
			</p>
			{% endif %}
			<h2 class="leadbuyer">Event Organizer Dashboard - {{chapter.name}} </h2>
		</section>
		<nav class="leadbuyer">
		<ul>
			<li><a href="{% url or_signup %}?chapter={{chapter.pk}}" class="upprofile">Update Profile</a></li>
			<li><a href="{% url or_setup %}?no_header=true" class="leadsource">Connect BrightMap to Eventbrite</a></li>
			<!--
			<li><a href="{% url or_category %}" class="leadcategoris">Add/Update Service Categories</a></li>  
			-->
			<li><a href="{% url or_events %}" class="eventhistory">My Event History</a></li>
			
		</ul>
		</nav>

		<article class="chaptermanage">
		{% if chapters %}
		<div class="topmanagebg"></div>
		<div class="manage">
			
			<section id="my-chapter">
	
			<form id="profile" name="" method="post" action="#">
				<label>Select Chapter to Manage:</label> <select name=""><option>ULS
						New York</option>
				</select>
			</form>
			</section>
			
		</div>
		{% endif %}
		
		<div class="botmanagebg"></div>
		</article>

		<h2 class="leadbuyer">Service Providers</h2>

		<article class="leastrecived">
		<div class="leadbuyertopdiv">&nbsp;</div>
		<section class="leadbuyerrept">

		<table class="ins">
			<caption class="latestrecived">Active Service Providers</caption>

			<tr>
				<td style="background-color: #F5F6F6;">
					<table class="ins">
						<tr>
							<th class="interest">Service Provider</th>
							<th class="interest">Service</th>
							<th class="interest ">TERMS</th>
							<th class="interest">Rate</th>
							<th class="interest">Leads<br/>
							<span>({{today|date:"E Y"}})</span>
							</th>
							<th class="interest">Commission<br />
							<span>({{today|date:"E Y"}})</span>
							</th>

							<th class="interest">ACTION</th>
						</tr>
						{% for term in active %}
						<tr>
							<td class="recivedcontent">
								<a href ="{% url or_leadb%}?term={{term.pk}}">
								{{term.buyer.first_name}}&nbsp;{{term.buyer.last_name}}
								</a>
							</td>
							<td class="recivedcontent">{{term.deal.interest.interest}}</td>
							<td class="recivedcontent">{% if term.expire %}Trial
							                           {% else %}
							                           {% if term.cost == 0 %}Sponsor{% else %}Standard{% endif %}
							                           {% endif %}</td>
							<td class="recivedcontent">{{term.cost}}</td>
							<td class="recivedcontent">{{term.monthly_connections|length}}</td>
							<td class="recivedcontent">{{term.monthly_total|fortyfive}}</td>
							<td class="recivedcontent">
								<a href="{% url or_status%}?term={{term.pk}}&status=canceled" class="itlink">Cancel</a>
							</td>
						</tr>
						{% endfor %}
					</table>
				</td>
			</tr>
		</table>

		</section>
		<div class="leadbuyerbotdiv">&nbsp;</div>
		</article>


		<article class="leastrecived">
		<div class="leadbuyertopdiv">&nbsp;</div>
		<section class="leadbuyerrept">

		<table class="ins">
			<caption class="latestrecived">
				Pending Service Provider Applications 
				{% if pending %}
				<span>Action Required</span>
				{% endif %} 
			</caption>

			<tr>
				<td style="background-color: #F5F6F6;">
					<table class="ins">
						<tr>
							<th class="interest">Service Provider</th>
							<th class="interest">Service</th>
							<th class="interest ">TERMS</th>
							<th class="interest">Rate</th>
							<th class="blankfill"></th>
							<th class="interest">Action</th>
						</tr>
						{% for term in pending %}
						<tr>
							<td class="recivedcontent">{{term.buyer.first_name}}&nbsp;{{term.buyer.last_name}}</td>
							<td class="recivedcontent">{{term.deal.interest.interest}}</td>
							<td class="recivedcontent">{% if term.expire %}Trial
							                           {% else %}
							                           {% if term.cost == 0 %}Sponsor{% else %}Standard{% endif %}
							                           {% endif %}
							</td>
							<td class="recivedcontent">{{term.cost}}</td>
							<td class="insideblankfill"></td>
							<td class="recivedcontent">
								<ul class="pendingaction">
									<li><a href="{%url or_status%}?term={{term.pk}}&status=approved">Accept</a>
									</li>
									<li class="noimg">
										<a href="{%url or_status%}?term={{term.pk}}&status=rejected" class="itlink">Reject</a>
									</li>
								</ul></td>
						</tr>
						{% endfor %}
					</table>
				</td>
			</tr>

		</table>

		</section>
		<div class="leadbuyerbotdiv">&nbsp;</div>
		</article>

		<article class="leastrecived">
		<div class="leadbuyertopdiv">&nbsp;</div>
		<section class="leadbuyerrept">

		<table class="ins">
			<caption class="latestrecived">Cancelled Service Providers</caption>

			<tr>
				<td style="background-color: #F5F6F6;">
					<table class="ins">
						<tr>
							<th class="interest">Service Provider</th>
							<th class="interest">Service</th>
							<th class="interest ">TERMS</th>
							<th class="interest">Rate</th>
							<th class="interest">Leads<br/>
							<span>(last 30 days)</span>
							</th>
							<th class="interest">Commission<br/>
							<span>(last 30 days)</span>
							</th>
							<th class="interest">Canceled</th>


						</tr>
						{% for term in canceled %}
						<tr>
							<td class="recivedcontent">{{term.buyer.first_name}}&nbsp;{{term.buyer.last_name}}</td>
							<td class="recivedcontent">{{term.deal.interest.interest}}</td>
							<td class="recivedcontent">{% if term.expire %}Trial
							                           {% else %}
							                           {% if term.cost == 0 %}Sponsor{% else %}Standard{% endif %}
							                           {% endif %}
							</td>
							<td class="recivedcontent">{{term.cost}}</td>
							<td class="recivedcontent">{{term.monthly_connections|length}}</td>
							<td class="recivedcontent">{{term.monthly_total}}</td>
							<td class="recivedcontent">{{term.modified|date:"d M Y"}}

						</tr>
						{% endfor %}
					</table>
				</td>
			</tr>

		</table>

		</section>
		
		{% if invoices %}
		<div class="leadbuyerbotdiv">&nbsp;</div>
		</article>
		<article class="leastrecived" style="margin-bottom:0px;">
		<div class="leadbuyertopdiv">&nbsp;</div>
		<section class="leadbuyerrept">
		<h2 class="latestrecived">Past Invoices</h2>

		<table class="invoice">
			<tr>
				<td><a href="#">August 2011</a>
				</td>
				<td><a href="#">August 2011</a>
				</td>
				<td><a href="#">August 2011</a>
				</td>
				<td><a href="#">August 2011</a>
				</td>
			</tr>
			<tr>
				<td><a href="#">July 2011</a>
				</td>
				<td><a href="#">July 2011</a>
				</td>
				<td><a href="#">July 2011</a>
				</td>
				<td><a href="#">July 2011</a>
				</td>
			</tr>
			<tr>
				<td><a href="#" class="bordernone">June 2011</a>
				</td>
				<td><a href="#" class="bordernone">June 2011</a>
				</td>
				<td><a href="#" class="bordernone">June 2011</a>
				</td>
				<td><a href="#" class="bordernone">June 2011</a>
				</td>
			</tr>
		</table>

		</section>
		<div class="leadbuyerbotdiv">&nbsp;</div>
		</article>
		<nav class="backnxt">
		<a href="#">Back</a>
		<span>|</span>
		<a href="#">Next</a></nav>
		{% endif %}

	</div>
</div>

<!--thickbox-->
<div style="display: none;">
	<div id="itlinkcontent">
		<h2 class="popupheading1">Are you sure you want to cancel this deal?</h2>
		<p class="canceldeal">
			<a class="canceldealq">Yes, cancel deal</a> 
			<a href="" class="nokeepdeal">No, keep deal</a>
		</p>
	</div>
</div>
<!--thickbox-->

<!-- preload the images -->
<div style='display: none'>
	<img src='/media/img/x.png' alt='' />
</div>

<!--Body section-->
{% endblock %}