{% extends 'base.html' %} {% block body_block %}
<!--Body section-->
<div id="bodysection">
	<div class="insidesection">
		<h2 class="comunityorganizer">Join BrightMap - Eventbrite Setup</h2>
		<p class="profiletxt">
			In order to generate and sell leads on BrightMap, you must permission
			the system to access your Eventbrite page.<br> This is so that
			we can add the survey question to your registration form and read the
			results from the Eventbrite database. <br> To do this, follow
			these steps:
		</p>
		<article class="profile"> <section class="bodybg">
		<nav class="step"> <nav class="step">
		<ul>
			<li><a href="{% url or_signup %}">STEP 1 of 3</a>
			</li>
			<li><a href="{% url or_category %}" class="active">STEP 2 of 3</a>
			</li>
			<li><a href="#" class="step3to3bg">STEP 3 of 3</a>
			</li>
		</ul>
		</nav> </nav>

		<h2 class="eventbrite">
			<span>1</span>Add BrightMap to your Eventbrite Page <a href="#">(click
				here)</a>
		</h2>
		<p class="addbrighttxt">If this link does not work, log in to your
			Eventbrite.com page, click on the Account tab, Click on Multi-User
			Access, and then click the "Add Email Address" button</p>
		<p class="singleline"></p>
		<h2 class="entersettings">
			<span>2</span>Enter the following settings
		</h2>
		<section id="my-border" style="padding:20px 0 10px 0;">
		<ul class="entersetting">

			<li><strong>Email:</strong> &lt;brightmap
				login&gt;@brightmap.com <br>(eg "my.community@brightmap.com")</li>
			<li><strong>Grant access to:</strong> All events</li>
			<li><strong>Actions to perform:</strong>Selected actions only
				<ul>
					<li>Edit event details not including the payment options</li>
					<li class="middletext">Edit survey questions</li>
					<li>View order and attendee reports (read-only)</li>
				</ul></li>

			<li class="spacer"><strong>Receive copies of:</strong> No emails</li>
		</ul>

		</section>

		<h2 class="entersettings">
			<span>3</span>Click Save
		</h2>
		<p class="singleline"></p>

		<p class="eventdetails">
			<a href="#">Update Eventbrite Details</a>
		</p>

		</section>

		<div class="botbg">&nbsp;</div>
		</article>
	</div>
</div>
<!--Body section-->

{% endblock %}
