{% extends 'base.html' %}
{% load smartif %}

{% block body_block %}
      <table width="100%" border="0" cellspacing="20" cellpadding="5">
        <tr>
          <td>
          <p>BrightMap is a community-driven lead-generation system.</p>
  <p>Community organizers use BrightMap to monetize their events and provide a valuable introduction service for their members. Service providers use BrightMap to get introduced to people interested in buying their services.</p>
  <p>BrightMap was founded in 2011 by <a href="http://www.linkedin.com/in/grahamlawlor">Graham Lawlor</a> and <a href="http://www.linkedin.com/pub/peter-douma/0/4aa/a6">Peter Douma</a>.</p>
  <p>For more information, contact <a href="mailto:info@brightmap.com">info@brightmap.com</a></p></td>
        </tr>
      </table>

      <table width="100%" border="0" cellspacing="20" cellpadding="5">
        <tr>
          <td><a href="/">Home</a></td>
        </tr>
      </table>
{% endblock %}

