<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Welcome To Brightmap</title>
<link href="/media/css/style.css" rel="stylesheet" type="text/css"/>
<script src="/media/js/shadedborder.js" type="text/javascript"></script>
<!--[if IE]>
	<script src="/media/js/html5.js" type="text/javascript"></script>
<![endif]-->

<body>
<!--Top section-->
<div id="topsection">
    <header class="tophdr">
        <section class="logo">
            <a href="#"><img src="/media/img/logo.gif" alt="Brightmap" width="220" height="93" title="Brightmap"></a>
        </section>
        <nav class="topmenu">
            <!--tabpanel -->
                <ul>
                    <li><a href="#"><span>Lead-Buyer Dashboard</span></a></li>
                    <li><a href="#"><span>Event Organizer Dashboard</span></a></li>
                </ul>
            <!--tabpanel -->
            
            {% if user.is_authenticated %}
  			<p class="logout"><a href="{%url logout%}">Logout</a></p>	
	 		{% else %}
            <p class="logout"><a href="{%url login%}">Login</a></p>
            {% endif %}
        </nav>
    </header>
</div>
<!--Top section-->
{% block body_block %}
{% endblock %}
<!--Body section-->
<!--Footer section-->
<div id="footersection">
	<footer><p>Copyright 2011 BrightMap LLC</p></footer>
</div>
<!--Footer section-->
<script type="text/javascript">
    var myBorder = RUZEE.ShadedBorder.create({ corner:5, shadow:0 });
	myBorder.render('my-border');
	myBorder.render('my-bluecurved');
</script>
</body>
</html>


