{% extends 'base.html' %}
{% load smartif %}

{% block body_block %}
<table width="100%" border="0" cellspacing="20" cellpadding="5">
  <tr>
    <td><h2>Best Practices for Event Organizers</h2>
      <h3>Lead Categories / Interests</h3>
      <ul>
        <li>Think of what your community buys or influences the purchase of</li>
        <li>Think of the service providers that show up at your event already</li>
        <li>Think of the people you already send referrals to</li>
        <li>Think of the service provider types your community asks for referrals to</li>
      </ul>
      <h3>The best lead categories are for services that:</h3>
      <ol>
        <li>People research the purchase online (or through community leaders such as businesses networking event organizers, where credibility/references are important)</li>
        <li>But when it comes time to buy, they usually go through a live person (rather than purchasing online)</li>
      </ol>
      <p>So good lead-gen categories are things like: cars, houses, insurance, banks, schools, lawyers, accountants, web development agencies, hosting providers, etc</p>
      <p>Bad lead-gen categories are things like: books/newspapers/magazines, bricks &amp; mortar retail establishments such as bars/restaurants, anything you can find on Amazon, etc</p>
      <h3>Promoting your Lead-Buyers</h3>
      <ul>
        <li>Announce / feature them at the event (mention them from the stage/podium, sponsor logo in program slides/handouts, etc)</li>
        <li>Write back to any responses from attendees who copy you</li>
      </ul>
      <h3>Integration with Meetup.com</h3>
      <ul>
        <li>Create meeting at meetup. Close off RSVP</li>
        <li>Send an email to the list and direct people to Eventbrite directly.<br />
        </li>
      </ul>
      <h2>Best Practices for Service Providers</h2>
      <h3>Selecting your Lead Categories / Interests / Checkboxes</h3>
      <ul>
        <li>If your category is too broad, you'll get too many people who aren't really interested in your service</li>
        <li>If your category is too narrow, you may turn away some people who otherwise are interested</li>
        <li>Consider custom-designed interests for each community/event (e.g. 'web hosting' at ultra light and 'lamp hosting' at effective mysql)<br />
        </li>
      </ul>
      <h3>Responding to Introductions (who/how/when/why)</h3>
      <ul>
        <li>Be sure to respond. If you don't respond at all, you won't get any clients.  Recipients of these email intros rarely write back to the service provider unprompted</li>
        <li>Speed is key. Ideally in 1 hour or less from the time you receive the email</li>
        <li>Copy event organizer. So he knows you're actively responding and also 
          to enhance the transfer of credibility from organizer to service provider</li>
        <li>Use email tools to help research the lead (eg Raportive for Gmail or Xobni for Outlook)</li>
        <li>Who responds?</li>
        <ul>
          <li>If the product/service is technical, consider having an engineer or sales engineer respond if the leads are coming from a technical community</li>
          <li>Don't send these to a generic email address (eg sales@mycompany.com).  If you do, they are sure to get ignored.  Send them to a real person, the person who is attending the event (or at least the person who knows the community).</li>
        </ul>
      </ul>
      <h3>Responding to Introductions (content - general)<br />
      </h3>
      <ul>
        <li>Keep it short,  3-4 short sentences is about right</li>
        <li>Keep it casual, phrases like &quot;meet to chat&quot; work better than &quot;schedule a consultation&quot;</li>
        <li> Focus on the primary objective.
          The objective of your response email is to progress the lead to a conversation (either at the event or on the phone).  Focus on this objective.  Don't try to qualify the lead in the initial email (eg by asking if they have a budget, etc)<br />
        </li>
      </ul>
      <h3>Responding to Introductions (content - specific)</h3>
      <ul>
        <li>Thank event organizer for the intro</li>
        <li> Offer a meeting or call</li>
        <li>Let them know if you're planning on attending the event, and if so, how to reach you</li>
        <li>Your photo (particularly if you're attending the event)</li>
        <li>Reference other business you've done in that community (eg other members you've worked with that they may know)</li>
        <li>Provide some content such as:</li>
        <ul>
          <li>Whitepaper</li>
          <li>Checklist (eg &quot;have you thought about x y, or z?)</li>
          <li>Link to recent news in your industry or for your company</li>
          <li>This is probably best as an attachment, so the text of the email is not too long</li>
        </ul>
      </ul></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="20" cellpadding="5">
  <tr>
    <td><a href="/">Home</a></td>
  </tr>
</table>
{% endblock %} 