<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>  
<title>BrightMap - Frequently Asked Questions</title>
<link href="/media/css/styleR.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/media/js/jquery-1.6.2.min.js"></script>

<!--[if IE]>
	<script src="/media/js/html5.js" type="text/javascript"></script>
<![endif]-->

</head>

<body id="faq" class="not-logged-in">
<!--Top section-->
<div id="topsection">
	<header class="tophdr">
		<section class="logo">
			<a href="#"><img src="/media/img/logo.gif" alt="Brightmap" width="220" height="93" title="Brightmap"></a> 
	   </section>
	   <nav class="topmenu">
		   <!--tabpanel -->
		   <form id="login" name="" method="post" action="login.php">			
				<fieldset>
					<div class="inline-holder">
						<label>Email Address</label>
						<input type="text" value="">
					</div>
					<div class="inline-holder">
						<label>Password</label>
						<input name="" type="password">
					</div>
					<div class="inline-holder last">
						<button class="button submit"><span>Login</span></button>
					</div>
				</fieldset>
			</form>
		   <!--tabpanel -->	  
	   </nav>
	</header>
</div>
<!--Top section-->

<!--Body section-->
<div id="bodysection">
		<div class="insidesection">
			<br /><br />
			<section class="leadbuyer">
				<h2 class="leadbuyer">Frequently Asked Questions</h2> 
			</section>
			<article class="box-full">
				<div class="top">&nbsp;</div>
				<div class="middle">
					<section>
						<header class="inside">
							<h2 class="section-title">How much money can I make with BrightMap as an event organizer?</h2>
						</header>
						<div class="inside">
                          <p>It depends on many factors - the industry you focus on, the ability of your attendees to purchase business services, the size of your network etc. A rough rule of thumb is that you can make about $5-$10 per attendee at each event. So for an event with 100 people, BrightMap could pay you $500-$1,000.</p>
                        </div>
					</section>
					<section>
		  <header class="inside">
							<h2 class="section-title">Will BrightMap spam my members?</h2>
						</header>
						<div class="inside">
						  <div>No. Only attendees who specifically request an introduction get any email from BrightMap. They get exactly one email per introduction they request.</div>
                          <p>&nbsp;</p>
						  <div>Attendees are generally very grateful for these introductions. You can expect a good portion of them to reply to the introductions thanking you for your assistance.</div>
						</div>
					</section>
					<section>
						<header class="inside">
							<h2 class="section-title">I already have sponsors for my event. Can they participate? Will BrightMap charge them?</h2>
						</header>
						<div class="inside">
<p>Yes, your existing sponsors can participate and no, BrightMap will not charge them. Just have your existing sponsors register on BrightMap and connect to your organization. When they connect to you they will indicate that they are already a sponsor. Once you approve them, they'll get leads from your organization and will not be charged anything by BrightMap.</p>
                        </div>
					</section>
					<section>
						<header class="inside">
							<h2 class="section-title">We don't use Eventbrite. Can we still use BrightMap?</h2>
						</header>
						<div class="inside">At the moment, no. BrightMap works exclusively with Eventbrite. But we are working on bringing BrightMap to other platforms, such as Meetup.com, Drupal, or any website. Stay tuned.</div>
					</section>
					<section>
						<header class="inside">
							<h2 class="section-title">I have a question I don't see answered here...</h2>
						</header>
						<div class="inside">Email us at <a href="mailto:support@brightmap.com">support@brightmap.com</a>. We'd love to hear from you!</div>
					</section>
				</div>
				<div class="bottom">&nbsp;</div>
			</article>
        </div>
</div>
<!--Body section-->
<!--Footer section-->
<div id="footersection">
	<footer>
		<ul id="menu-footer">
			<li><a href="#">About</a></li>
			<li>|</li>
			<li><a href="#">FAQ</a></li>
			<li>|</li>
			<li><a href="#">Contact Us</a></li>
		</ul>
		<p>Copyright 2011 BrightMap LLC</p>
	</footer>
</div>
<!--Footer section-->



</body>
</html>
