<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>  
<title>Welcome To Brightmap</title>
<link href="/media/css/styleR.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/media/js/jquery-1.6.2.min.js"></script>

<!--[if IE]>
	<script src="/media/js/html5.js" type="text/javascript"></script>
<![endif]-->

</head>

<body id="faq" class="not-logged-in">
<!--Top section-->
<div id="topsection">
	<header class="tophdr">
		<section class="logo">
			<a href="#"><img src="/media/img/logo.gif" alt="Brightmap" width="220" height="93" title="Brightmap"></a> 
	   </section>
	   <nav class="topmenu">
		   <!--tabpanel -->
		   <form id="login" name="" method="post" action="login.php">			
				<fieldset>
					<div class="inline-holder">
						<label>Email Address</label>
						<input type="text" value="">
					</div>
					<div class="inline-holder">
						<label>Password</label>
						<input name="" type="password">
					</div>
					<div class="inline-holder last">
						<button class="button submit"><span>Login</span></button>
					</div>
				</fieldset>
			</form>
		   <!--tabpanel -->	  
	   </nav>
	</header>
</div>
<!--Top section-->

<!--Body section-->
<div id="bodysection">
		<div class="insidesection">
			<br /><br />
			<section class="leadbuyer">
				<h2 class="leadbuyer">Best Practices for Event Organizers</h2> 
			</section>
			<article class="box-full">
				<div class="top">&nbsp;</div>
				<div class="middle">
					<section>
						<header class="inside">
							<h2 class="section-title">Lead Categories/Interests</h2>
						</header>
						<div class="inside">
							<ul class="bullets">
								<li>Think of what your community buys or influences the purchase of</li>
								<li>Think of the service providers that show up at your event already</li>
								<li>Think of the people you already send referrals to</li>
								<li>Think of the service provider types your community asks for referrals to</li>
							</ul>
						</div>
					</section>
					<section>
						<header class="inside">
							<h2 class="section-title">The best lead categories are for services that</h2>
						</header>
						<div class="inside">
							<ul class="bullets">
								<li>People research the purchase online (or through community leaders such as businesses networking event organizers, where credibility/references are important)</li>
								<li>But when it comes time to buy, they usually go through a live person (rather than purchasing online)</li>
							</ul>
							<p>
								<br />
								So good lead-gen categories are things like: cars, houses, insurance, banks, schools, lawyers, accountants, web development agencies, hosting providers, etc
								<br /><br />
								Bad lead-gen categories are things like: books/newspapers/magazines, bricks &amp; mortar retail establishments such as bars/restaurants, anything you can find on Amazon, etc
							</p>
						</div>
					</section>
					<section>
						<header class="inside">
							<h2 class="section-title">Promoting your Lead-Buyers</h2>
						</header>
						<div class="inside">
							<ul class="bullets">
								<li>Announce / feature them at the event (mention them from the stage/podium, sponsor logo in program slides/handouts, etc)</li>
								<li>Write back to any responses from attendees who copy you</li>
							</ul>
						</div>
					</section>
					<section>
						<header class="inside">
							<h2 class="section-title">Integration with Meetup.com</h2>
						</header>
						<div class="inside">
							<ul class="bullets">
								<li>Create meeting at meetup. Close off RSVP</li>
								<li>Send an email to the list and direct people to Eventbrite directly</li>
							</ul>
						</div>
					</section>
				</div>
				<div class="bottom">&nbsp;</div>
			</article>
        </div>
</div>
<!--Body section-->
<!--Footer section-->
<div id="footersection">
	<footer>
		<ul id="menu-footer">
			<li><a href="#">About</a></li>
			<li>|</li>
			<li><a href="#">FAQ</a></li>
			<li>|</li>
			<li><a href="#">Contact Us</a></li>
		</ul>
		<p>Copyright 2011 BrightMap LLC</p>
	</footer>
</div>
<!--Footer section-->



</body>
</html>
