{% extends 'base.html' %} 
{% block body_block %}
<!--Body section-->
<div id="bodysection">
	<div class="insidesection">

		<section class="videobg"> 
			<!-- 
			<video width="480" height="386" controls autobuffer src="http://www.youtube.com/embed/HqoAk2VTUuE" >
			</video>
			-->
			<iframe type="text/html" width="480" height="385" src="#" frameborder="0">
			</iframe>
		</section>

		<article class="orgprovides">
		<div class="floating">
			<div class="comtopbg">&nbsp;</div>
			<section class="organiger">
			<h2 class="comunity">Community &amp; Event Organizers</h2>
			<ul class="evtorganizer">
				<li>Help your attendees with valuable introductions</li>
				<li>Increase loyalty within your community</li>
				<li>Earn more money hosting events</li>
			</ul>
			<!--logo panel -->
			<div class="eventlogo">
				<div class="companylogo">
					<img src="/media/img/techdrinkup.gif" alt=""> <img
						src="/media/img/breakfast.jpg" alt="">
				</div>
				<div class="companylogo">
					<img src="/media/img/do-it-in-person.gif" alt=""> <img
						src="/media/img/mxm.jpg" alt="">
				</div>
			</div>
			<!--logo panel --> <a href="{% url community %}" class="learnmore">Learn More</a> </section>
			<div class="combotbg">&nbsp;</div>
		</div>

		<div class="floatingright">
			<div class="comtopbg">&nbsp;</div>
			<section class="organiger">
			<h2 class="rpoviders">Professional Service Providers</h2>

			<ul class="servprovider">
				<li>Get qualified leads</li>
				<li>Referrals from trusted community leaders</li>
				<li>Great value with less effort</li>
			</ul>
			<!--logo panel -->
			<div class="eventlogo">
				<div class="companylogo">
					<img src="/media/img/thetaxclub.jpg" alt=""> <img
						src="/media/img/cresa-partners.jpg" alt="">
				</div>
				<div class="companylogo">
					<img src="/media/img/mintz-levin.jpg" alt=""> <img
						src="/media/img/datagram.jpg" alt="">
				</div>
			</div>
			<!--logo panel --> <a href="{% url lb_signup %}" class="learnmore2">Learn More</a> </section>
			<div class="combotbg">&nbsp;</div>
		</div>
		</article>

	</div>
</div>
<!--Body section-->

{% endblock %}
