{% extends 'baseR.html' %}
{% block body_section %}
<!--Body section-->
<div id="bodysection">
		<div class="insidesection">
			<br /><br />
			<header>
				<h1 class="green big">Community &amp; Event Organizers</h1>
			</header>
			<br />
			
            <div class="clearfix">
				<article class="box-more floating clearfix">
					<div class="top">&nbsp;</div>
					<div class="middle clearfix">
						<div class="inside">
							<section id="connect">
								<div class="clearfix">
									<span class="black-circle floating">1</span>
									<h2 class="section-title floating" style="margin-top: 4px;">Connect to BrightMap</h2>
								</div>
								<ul class="evtorganizer">
									<li>BrightMap adds a survey question to your Eventbrite signup page</li>
									<li>The survey question lets attendees request email introductions to your service providers</li>
								</ul>
							</section>						
							<section id="approve">
								<div class="clearfix">
									<span class="black-circle floating">2</span>
									<h2 class="section-title floating" style="margin-top: 4px;">Approve Service Providers</h2>
								</div>
								<ul class="evtorganizer">
									<li>Service Providers (lawyers, accountants, web designers, etc) apply to become your preferred provider</li>
									<li>You decide which providers to endorse</li>
								</ul>
							</section>						
							<section id="get-paid">
								<div class="clearfix">
									<span class="black-circle floating">3</span>
									<h2 class="section-title floating" style="margin-top: 4px;">Get Paid</h2>
								</div>
								<ul class="evtorganizer">
									<li>Your members register for your event and request introductions</li>
									<li>BrightMap sends email introductions to your approved providers</li>
									<li>BrightMap charges the providers for these introductions and pays you each month</li>
								</ul>
							</section>	
						</div>	
						<section id="sign-up-now" class="inside clearfix">
							<a href="{% url or_signup %}" class="button more multiline floating" style="margin: 0"><span>Sign Up Now<p>Start Getting Paid!</p></span></a>
							
							<!-- (c) 2005, 2011. Authorize.Net is a registered trademark of CyberSource Corporation --> 
							<div id = authorize class = floating >
							<div class="AuthorizeNetSeal"> 
								<script type="text/javascript" language="javascript">
									var ANS_customer_id="337f151e-e08e-429e-9182-f8deeceba94a";
								</script> 
								<script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" >
								</script>
							</div>
							</div>
							
							<p id="no-spam" class="floating">We'll never spam<br />your members</p>
						</section>
					</div>
					<div class="bottom">&nbsp;</div>
				</article> 			
				<aside class="floatingright">
					<h2 class="section-title">Featured Organizers</h2>		
					
					<ul>
						<li><img src="/media/img/techdrinkup.gif" alt=""></li>
						<li><img src="/media/img/breakfast.jpg" alt=""></li>                             
						<li><img src="/media/img/do-it-in-person.gif" alt=""></li>
						<li><img src="/media/img/mxm.jpg" alt=""></li>
					</ul>
				</aside>  
			</div>           
        </div>      
</div>
<!--Body section-->
{% endblock %}