{% extends 'base.html' %}

{% block body_block %}
	{% if profile.user.is_authenticated %}
		<p><a href="{{ profile.user.profile_url }}"><img src="http://graph.facebook.com/{{ user.profile.facebook_id }}/picture"/></a></p>
      	<p>You are logged in as {{ current_user.name|escape }}</p>
	{% else %}
			<h2 class="login">Login</h2>
				<form class="clearfix" action='{% url login %}' method="post">
				{% csrf_token %}
					<fieldset>
					{% csrf_token %}
					<div class="ctrlHolder clearfix">
                  		<label for="username">Email Address<em>*</em></label> 
                  		{{ form.username }}
                  		{{ form.username.errors }}
                	</div>
                	
                	<div class="ctrlHolder clearfix">
                	<label for="password">Password<em>*</em></label> 
                	{{ form.password }}
                	</div>
					<div class="section">
              			<button class="button orange right" type="submit"><span><strong>&nbsp;</strong>Log In</span></button>
              		</div>
					</fieldset>	
				</form>
        <br/>
        <br/>
	{% endif %}
{% endblock %}