{% extends 'base.html' %}
{% block body_block %}
<div class="WordSection1">

	<p class="MsoNormal">
		<b><font size="3" face="Cambria"><span
				style='font-size: 12.0pt; font-weight: bold'>Privacy Policy</span>
		</font>
		</b>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>Updated
				11/17/11</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>We
				follow the CAN-SPAM Regulations of 2003 for commercial email.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>Brightmap.com
				is run by BrightMap LLC. a Delaware company.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>160
				Varick St, 12th floor, New York, NY 10013</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>(646)
				450-3577</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<b><font size="3" face="Cambria"><span
				style='font-size: 12.0pt; font-weight: bold'>Introduction.</span>
		</font>
		</b>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>We
				take your right to privacy seriously and want you to feel
				comfortable using our web site. This Privacy Policy deals with
				personally identifiable information (referred to as &quot;Data&quot;
				below) that may be collected by us on our site. This Policy does not
				apply to other entities that we do not own or control or persons
				that are not our employees, agents or within our control. Please
				take time to read our Terms of Use.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<b><font size="3" face="Cambria"><span
				style='font-size: 12.0pt; font-weight: bold'>1. Collection
					and Use of Data.</span>
		</font>
		</b>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>BrightMap
				collects data on Service Providers, Organizers, and Consumers.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>Data
				on Service Providers and Organizers includes personally identifiable
				information including name, email address, phone number, social
				media profiles, and photographs.  This data is gathered by these
				users when creating and modifying their BrightMap profiles and also
				via public data sources.  This information may be published on
				BrightMap website(s) and sent via email or other messaging systems
				to other BrightMap users.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>Data
				on Consumers includes personally identifiable information including
				name, email address, phone number, social media profiles and
				photographs.  This data is collected by information provided by
				Consumers on BrightMap.com and other 3<sup>rd</sup> party websites. 
				This data may be sent via email or other messaging systems on the
				request of the Consumer.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<b><font size="3" face="Cambria"><span
				style='font-size: 12.0pt; font-weight: bold'>2. Cookies.</span>
		</font>
		</b>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>Like
				many web sites, we set and use cookies to enhance your user
				experience, such as retaining your personal settings. Advertisements
				may appear on our web site and, if so, may set and access cookies on
				your computer and is subject to the privacy policy of those parties
				providing the advertisement. However, the companies serving the
				advertising do not have access to our cookies. These companies
				usually use non-personally identifiable or anonymous codes to obtain
				information about your visits to our site.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<b><font size="3" face="Cambria"><span
				style='font-size: 12.0pt; font-weight: bold'>3. Editing or
					Deleting Your Account Information.</span>
		</font>
		</b>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>We
				provide you with the ability to edit the information in your user
				account information that you provided to us in registration by using
				your personal page configuration area. You may request deletion of
				your user account by contacting our webmaster. Content or other data
				that you may have provided to us and that is not contained within
				your user account, such as posts that may appear within our forums,
				may continue to remain on our site at our discretion even though
				your user account is deleted. Please see our Terms of Use for more
				information.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<b><font size="3" face="Cambria"><span
				style='font-size: 12.0pt; font-weight: bold'>6. Changes to
					this Privacy Policy and or Terms of Service.</span>
		</font>
		</b>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>We
				may make changes to this Policy from time to time. We will notify
				you of substantial changes to this Policy either by posting a
				prominent announcement on our site and/or by sending a message to
				the e-mail address you have provided to us that is contained within
				your user settings.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<b><font size="3" face="Cambria"><span
				style='font-size: 12.0pt; font-weight: bold'>7. NO
					GUARANTEES.</span>
		</font>
		</b>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>While
				this Privacy Policy states our standards for maintenance of Data and
				we will make efforts to meet them, we are not in a position to
				guarantee these standards. There may be factors beyond our control
				that may result in disclosure of data. As a consequence, we disclaim
				any warranties or representations relating to maintenance or
				nondisclosure of Data.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<b><font size="3" face="Cambria"><span
				style='font-size: 12.0pt; font-weight: bold'>8. Contact
					Information.</span>
		</font>
		</b>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>If
				you have any questions about this Policy or our web site, please
				feel free to contact our webmaster.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<b><font size="3" face="Cambria"><span
				style='font-size: 12.0pt; font-weight: bold'>Terms of
					Service:</span>
		</font>
		</b>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>Providers
				purchasing a lead are only purchasing a single instance of that
				information and may not redistribute, repost, publish, transmit or
				in any way share freely or sell the lead information acquired
				through the site. All projects and leads contained on this site are
				the copyrighted property of BrightMap and may not be shared or
				distributed without or explicit written consent. Any provider that
				acquires a lead and then makes that information available to a third
				party either freely or by reselling the information will be subject
				to prosecution to the full extent of the law. Additionally said
				provider will forfeit all credits, purchases and leads purchased.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>Without
				limiting the foregoing, under no circumstances shall BrightMap or
				its licensors be held liable for any delay or failure in performance
				resulting directly or indirectly from acts of nature, forces, or
				causes beyond its reasonable control, including, without limitation,
				Internet failures, computer equipment failures, electrical power
				failures, strikes, labor disputes, telecommunication equipment
				failures, other equipment failures, riots, civil disturbances,
				shortages of labor or materials, fires, floods, insurrections,
				storms, explosions, acts of God, war, governmental actions, orders
				of domestic or foreign courts or tribunals, non-performance of third
				parties, or loss of or fluctuations in heat, light, or air
				conditioning, stock market crashes, infectious diseases, skin
				rashes, alien invasion, space-time distortions, database failures,
				blackouts, brownouts, whiteouts.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<b><font size="3" face="Cambria"><span
				style='font-size: 12.0pt; font-weight: bold'>Disclaimer of
					Warranties</span>
		</font>
		</b>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>BrightMap
				disclaims any and all responsibility or liability for the accuracy,
				content, completeness, legality, reliability, or operability or
				availability of information or material displayed in this website.
				BrightMap disclaims any responsibility for the deletion, failure to
				store, mis-delivery, or untimely delivery of any information or
				material. BrightMap disclaims any responsibility for any harm
				resulting from downloading or accessing any information or material
				on the Internet through the BrightMap SERVICES.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>THE
				BrightMap SERVICES, AND ALL MATERIALS, INFORMATION, PRODUCTS AND
				SERVICES INCLUDED IN THE BrightMap SERVICES ARE PROVIDED &quot;AS
				IS,&quot; WITH NO WARRANTIES WHATSOEVER. BrightMap AND ITS LICENSORS
				EXPRESSLY DISCLAIM TO THE FULLEST EXTENT PERMITTED BY LAW ALL
				EXPRESS, IMPLIED, AND STATUTORY WARRANTIES, INCLUDING, WITHOUT
				LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
				PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS.
				BrightMap AND ITS LICENSORS DISCLAIM, ANY WARRANTIES FOR ANY
				INFORMATION OR ADVICE OBTAINED THROUGH THE BrightMap SERVICES.
				BrightMap AND ITS LICENSORS DISCLAIM ANY WARRANTIES FOR SERVICES OR
				GOODS RECEIVED THROUGH OR ADVERTISED ON THE BrightMap SERVICES OR
				RECEIVED THROUGH ANY LINKS PROVIDED BY THE BrightMap SERVICES, AS
				WELL AS FOR ANY INFORMATION OR ADVICE RECEIVED THROUGH ANY LINKS
				PROVIDED IN THE BrightMap SERVICES.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>YOU
				UNDERSTAND AND AGREE THAT YOU DOWNLOAD OR OTHERWISE OBTAIN MATERIAL
				OR DATA THROUGH THE USE OF THE BrightMap SERVICES AT YOUR OWN
				DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY
				DAMAGES TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM
				THE DOWNLOAD OF SUCH MATERIAL OR DATA.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>SOME
				STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED
				WARRANTIES, SO THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. YOU MAY
				ALSO HAVE OTHER RIGHTS THAT VARY FROM STATE TO STATE AND
				JURISDICTION TO JURISDICTION.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<b><font size="3" face="Cambria"><span
				style='font-size: 12.0pt; font-weight: bold'>Limitation of
					Liability</span>
		</font>
		</b>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>UNDER
				NO CIRCUMSTANCES SHALL BrightMap OR ITS LICENSORS BE LIABLE TO ANY
				USER ON ACCOUNT OF THAT USER'S USE OR MISUSE OF OR RELIANCE ON THE
				BrightMap SERVICES. ARISING FROM ANY CLAIM RELATING TO THIS
				AGREEMENT OR THE SUBJECT MATTER HEREOF SUCH LIMITATION OF LIABILITY
				SHALL APPLY TO PREVENT RECOVERY OF DIRECT, INDIRECT, INCIDENTAL,
				CONSEQUENTIAL, SPECIAL, EXEMPLARY, AND PUNITIVE DAMAGES WHETHER SUCH
				CLAIM IS BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE),
				OR OTHERWISE, (EVEN IF BrightMap OR ITS LICENSORS HAVE BEEN ADVISED
				OF THE POSSIBILITY OF SUCH DAMAGES). SUCH LIMITATION OF LIABILITY
				SHALL APPLY WHETHER THE DAMAGES ARISE FROM USE OR MISUSE OF AND
				RELIANCE ON THE BrightMap SERVICES, FROM INABILITY TO USE THE
				BrightMap SERVICES, OR FROM THE INTERRUPTION, SUSPENSION, OR
				TERMINATION OF THE BrightMap SERVICES (INCLUDING SUCH DAMAGES
				INCURRED BY THIRD PARTIES). THIS LIMITATION SHALL ALSO APPLY WITH
				RESPECT TO DAMAGES INCURRED BY REASON OF OTHER SERVICES OR GOODS
				RECEIVED THROUGH OR ADVERTISED ON THE BrightMap SERVICES OR RECEIVED
				THROUGH ANY LINKS PROVIDED IN THE BrightMap SERVICES, AS WELL AS BY
				REASON OF ANY INFORMATION OR ADVICE RECEIVED THROUGH OR ADVERTISED
				ON THE BrightMap SERVICES OR RECEIVED THROUGH ANY LINKS PROVIDED IN
				THE BrightMap SERVICES. THIS LIMITATION SHALL ALSO APPLY, WITHOUT
				LIMITATION, TO THE COSTS OF PROCUREMENT OF SUBSTITUTE GOODS OR
				SERVICES, LOST PROFITS, OR LOST DATA. SUCH LIMITATION SHALL FURTHER
				APPLY WITH RESPECT TO THE PERFORMANCE OR NON-PERFORMANCE OF THE
				BrightMap SERVICES OR ANY INFORMATION OR MERCHANDISE THAT APPEARS
				ON, OR IS LINKED OR RELATED IN ANY WAY TO, THE BrightMap SERVICES.
				SUCH LIMITATION SHALL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL
				PURPOSE OF ANY LIMITED REMEDY AND TO THE FULLEST EXTENT PERMITTED BY
				LAW.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>SOME
				STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR
				LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO
				THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<b><font size="3" face="Cambria"><span
				style='font-size: 12.0pt; font-weight: bold'>Changes to Terms
					of Service.</span>
		</font>
		</b>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>We
				may make changes to this Policy from time to time. We will notify
				you of substantial changes to this Policy either by posting a
				prominent announcement on our site and/or by sending a message to
				the e-mail address you have provided to us that is contained within
				your user settings. Any changes made are effective retroactively and
				immediately regardless of notification.</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

	<p class="MsoNormal">
		<font size="3" face="Cambria"><span style='font-size: 12.0pt'>&nbsp;</span>
		</font>
	</p>

</div>
{% endblock %}
