{% extends 'base.html' %} 
{% block body_block %}

<!--Body section-->
<div id="bodysection">
	<div class="insidesection">
		<h2 class="comunityorganizer">Lead Categories</h2>
		<p class="profiletxt">
			Pick the lead categories for services your members most frequently
			ask for your recommendations on.<br> You can always change these
			later.<strong> Select a maximum six categories.</strong>  
		</p>
		<article class="profile"> <section class="bodybg">
		{% if not deals %}
		<nav class="step">
			<ul>
				<li><a href="#" class="noimg">STEP 1 of 3</a></li>
				<li><a href="#" class="steptwothree">STEP 2 of 3</a></li>
				<li><a href="#" class="step3">STEP 3 of 3</a></li>
			</ul>
		</nav>
		{% endif %} 
		<h2 class="paymethod">Standard Lead Categories</h2>
		
		<form id="profile" name="" method="post" action="{% url or_category %}">
			{% csrf_token %}
			{{form.chapter}}
			<section id="my-border" style="padding:20px 0 10px 0;">
			{{form.standard.errors}}
			<div class="chkboxdiv">
			{{form.standard }}
			</div>

			</section>
			<h2 class="leadcategories">Other Lead Categories</h2>

			<section id="my-categories" style="padding:20px 0 10px 0;">
			<div class="lftcategorydiv">
				<div class="chkboxdiv">
				{{form.other}}
				<ul>
					<li>
					{{form.custom}}&nbsp;{{form.custom.label}} 
					</li>
				</ul>
				{{form.field}}
				</div>
			</div>
			</section>

			<p class="categoory">
				<input name="" type="submit" value="Next Step: Lead Categories" class="categorybutt">
			</p>
		</form>

		</section>
		<div class="botbg">&nbsp;</div>
		</article>
	</div>
</div>
<!--Body section-->
{% endblock %}
