{% extends 'base.html' %} {% block body_block %}
<!--Body section-->
<div id="bodysection">
	<div class="insidesection">
		<article class="leastrecived">
		<div class="leadbuyertopdiv">&nbsp;</div>
		<section class="leadbuyerrept">

		<table class="ins">
			<caption class="latestrecived">Commission History for
				October 2011</caption>

			<tr>
				<td style="background-color: #F5F6F6;">
					<table class="ins">
						<tr>
							<th class="interest">Lead-Buyer</th>
							<th class="interest">Leads</th>
							<th class="interest ">TERMS</th>
							<th class="interest interestcom">Commission <br>
							<span>(per lead)</span>
							</th>
							<th class="interest interestcom">Commission<br>
							<span>(total)</span>
							</th>

						</tr>
						<tr>
							<td class="recivedcontent">Glide Interactive</td>
							<td class="recivedcontent">20</td>
							<td class="recivedcontent">Standard</td>
							<td class="recivedcontent recivedcontentMid">$10</td>
							<td class="recivedcontent recivedcontentMid">$200</td>


						</tr>
						<tr>
							<td class="recivedcontent">Ideaware</td>
							<td class="recivedcontent">35</td>
							<td class="recivedcontent">Standard</td>
							<td class="recivedcontent recivedcontentMid">$25</td>
							<td class="recivedcontent recivedcontentMid">$200</td>


						</tr>
						<tr>
							<td class="recivedcontent">OnWired</td>
							<td class="recivedcontent">42</td>
							<td class="recivedcontent">Standard</td>
							<td class="recivedcontent recivedcontentMid">$30</td>
							<td class="recivedcontent recivedcontentMid">$200</td>


						</tr>

						<tr>
							<td class="recivedcontent">Glide Interactive</td>
							<td class="recivedcontent">20</td>
							<td class="recivedcontent">Standard</td>
							<td class="recivedcontent recivedcontentMid">$10</td>
							<td class="recivedcontent recivedcontentMid">$200</td>


						</tr>

						<tr>
							<td class="recivedcontent">Ideaware</td>
							<td class="recivedcontent">35</td>
							<td class="recivedcontent">Standard</td>
							<td class="recivedcontent recivedcontentMid">$25</td>
							<td class="recivedcontent recivedcontentMid">$200</td>


						</tr>

						<tr>
							<td class="recivedcontent">OnWired</td>
							<td class="recivedcontent">42</td>
							<td class="recivedcontent">Standard</td>
							<td class="recivedcontent recivedcontentMid">$30</td>
							<td class="recivedcontent recivedcontentMid">$200</td>
						</tr>

					</table></td>
			</tr>
			<tr>
				<td class="subtotal"><p class="subtotaltxt">
						Subtotal:<span>$2,757.50</span>
					</p>
				</td>
			</tr>
			<tr>
				<td class="subtotal"><p class="subtotaltxt">
						Transaction costs:<span>$317.20</span>
					</p>
				</td>
			</tr>

			<tr>
				<td><p class="totaltxt">
						Total:<span class="comissiontotal">$2,440.30</span>
					</p>
				</td>
			</tr>
		</table>

		</section>
		<div class="leadbuyerbotdiv">&nbsp;</div>
		<p class="backdahbordbutt">
			<a href="#">Back to Dashboard</a>
		</p>
		</article>
	</div>
</div>
<div class="push"></div>
</div>
<!--Body section-->
{% endblock %}
