
{{term.buyer.first_name}},

{{term.deal.chapter.name}} has {{term.status}} your deal for {{term.deal.interest.interest}} leads.

You can review the status of this deal or request more deals from your BrightMap dashboard:

{{url}}

The BrightMap Team. 