{{term.buyer.first_name}},

This is to let you that your deal for {{term.deal.interest.interest}} with {{term.deal.chapter.name}} 
has been {{term.status}}. Please go to {{url}} to check the status of your deal or to request a new one.

The BrightMap Team. 