
{{buyer.first_name}},

You registered for a 30-day free trial of leads from {{term.deal.chapter.name}} on {{term.modified}}.

25 days have passed and you have received the following leads so far:
{% for connect in connections %}
{{connect.survey.attendee.first_name}} {{connect.attendee.user.last_name}}
{% endfor %}


In 5 days, this trial will expire.  After {{term.date}}  you will be charged $20/lead for each lead from {{term.deal.chapter.name}}.

You can cancel this deal anytime from your BrightMap dashboard at:
{{url}}

Best regards,
{{chapter.organizer.first_name}}