{{buyer.first_name}},

Thanks for trying BrightMap. Your one month free trial deal with {{term.deal.chapter.name}} has expired. If you would like to 
apply for a new deal please go to {{url}} and apply for a new deal. 

The BrightMap Team. 