{{buyer.first_name}},

Thanks for trying BrightMap. Your one month free trial deal with {{term.deal.chapter.name}} has expired. 
Each lead will now be charged to you. If you would like to cancel your deal or create a new deal please go to {{url}} . 

The BrightMap Team. 