I'm writing because you are a trusted member of the {{chapter.name}} community and I would like to invite you to become one of our preferred service providers.

We use a service called BrightMap to refer {{chapter.name}} members to our preferred providers via email introductions.  The system lets members tell us which professional services they need help with (eg legal, accounting, web design, etc).  If a member tells us he's in the market for your service, I make a referral vial email to you, as our preferred provider for that service.  You can then meet this new lead at the event or connect beforehand, since you'll be in touch via email.  You pay per lead ($20).

Click the link below to learn more about BrightMap and how to become one of our preferred providers.  I look forward to having you on the <organization> team!

{{url}}

Best regards,
{{chapter.organizer.first_name}}&nbsp;{{chapter.organizer.last_name}}
{{chapter.name}}

