{{ invoice.user.first_name }},

Your monthly invoice in the amount of {{invoice.cost}} can be found in your BrightMap dashboard on the link below.  
Please reply to this email if you have any questions.

http://brightmap.com{% url lb_bill %}/?invoice={{invoice.pk}}

Best regards,
The BrightMap Team
