{{user.first_name}},

When signing up for {{chapter}}'s latest event you indicated you were interested in buying leads
from them. BrightMap connects attendees of {{chapter}}'s events. Please vist {{url}} and complete the 
necessary form, and we can begin sending you new prospects in time for the next event.


Thanks,
The BrightMap Team. 