{{user.first_name}},

When registering for the upcoming {{chapter}} event you indicated that you are interested in meeting their members who are in the market for your service.

{{chapter}} uses BrightMap to refer it's members to it's preferred service providers.  
To learn more about BrightMap and how to become one of {{chapter}}'s preferred providers, visit the link below.

{{url}}

Thanks,
The BrightMap Team