
{{user.first_name}},

When registering for our upcoming {{chapter.name}} event you indicated that you are a professional services provider are interested in meeting our members who are in the market for your service.

{{chapter.name}} uses BrightMap to refer our members to our preferred service providers.  To learn more about BrightMap and how to become one of our preferred providers, visit the link below.

{{url}}


Thanks,
{{chapter.organizer.first_name}}
