BrightMap makes introductions between attendees of business networking events and business service providers, based on the stated interest of the event attendees.

The list below shows the leads available on BrightMap this week.  To buy these leads, click the "BUY LEADS" link at the bottom of any section.

Leads by Interest
{% for interest, event in report.items %}
{{interest.interest}}
{% for e,count in event.items %}
{{count}} {% if count > 1 %} leads {% else %} lead {% endif %} {{e.describe}}
{% endfor %}
{% endfor %}

[BUY LEADS] Click here if you are a service provider and would like to buy any of the above leads

Copyright (c) 2011 BrightMap, All rights reserved.
Our mailing address is: BrightMap LLC 160 Varick St, 12th floor New York, NY 10013

To unsubscribe from this list http://brightmap.com/base/unsubscribe
