<!DOCTYPE html >
<html>
<head>
  <title>BrightMap Newsletter</title>
  <style type="text/css">
  /*<![CDATA[*/

  body {
    font-family: sans-serif;
    font-size: medium;
    background-color: white;
}

  img {
    border: none;
  }
  #hello {
  font-weight: 200
}
  #help {
    font-size:10px;
    font-weight: lighter;
    font-style: italic
  }
  /*]]>*/
  </style>
</head>

<body>

    <a href="http://brightmap.com">
        <img src='/media/img/logo.png' width="200" height="115" alt="BrightMap" />
    </a>
    <div id="hello">
        <p>BrightMap makes introductions between attendees of business networking events and business service providers, based on the stated interest of the event attendees
           The list below shows the leads available on BrightMap this week.  To buy these leads, click the "BUY LEADS" link at the bottom of any section.
        </p>
        <h2>Interest Report</h3>
        {% for interest, event in report.items %}
        <h3>{{interest.interest}}</h3>
        	{% for e,count in event.items %}
        		<p>{{count}} {% if count > 1 %} leads {% else %} lead {% endif %} {{e.describe}}-{{e.date}}</p>
        	{% endfor %}
        {% endfor %}
    </div>
    <div id="help">
        <p>Hit reply and we'll contact you or:</p>
        <p>or:
            <a href='{% url buy_deal %}'>
                Click here if you are would like to buy any of the above leads
            </a>
        </p>
    </div>
</body>
</html>