{{term.deal.chapter.organizer.first_name}},

This is a reminder that you have a pending sponsor for {{term.deal.chapter.name}} that requires your approval.

Category: {{term.deal.interest.interest}}
Sponsor: {{term.buyer.first_name}} {{term.buyer.last_name}} of {{term.buyer.get_profile.company}}

BrightMap will not generate leads for this sponsor and you will not earn commissions until you approve this sponsorship.

Please go to your BrightMap organizer dashboard to review and accept this sponsorship.

{{url}}

Thanks,
The BrightMap Team. 