{{organizer.first_name}},

This is a reminder that you have a pending deal for {{term.deal.interest.interest}} with {{term.buyer.first_name}} {{term.buyer.last_name}} 
Please go to your BrightMap organizer dashboard at {{url}} and either accept or reject his deal.

Thanks,
The BrightMap Team. 