{{organizer.first_name}},

This is a reminder that in order for BrightMap to send your service providers leads, we need information from Eventbrite about your organization
Please visit this url {{url}} and let us know the settings for your Eventbrite account. 

Thanks,
The BrightMap Team. 