Welcome to Brightmap!

Your profile is setup and we have sent your application to become a preferred service provider to <organizer name> of <organization>.  You will receive an email when he approves your request, and you'll start getting email referrals soon after that.

If you have any questions about the service, please do not hesitate to contact us at support@brightmap.com

Best regards,
The Brightmap team
