{% extends 'base.html' %}

{% block body_block %}
    <p>
    Complete this form to purchase leads from a particular community. The community
    organizer must review and approve your application before we can send you leads. You will
    be notified via email about the community organizer's decision.
    </p>
	<form class="clearfix" action="{% url lb_apply %}" method="post">
    {% csrf_token %}
    	<fieldset>
		<div class="clearfix">
                <h1 class="left">Apply For Leads</h1>
        </div>
        <div class="personal">
        	<div class="ctrlHolder clearfix">
        	{{form.chapter}}
        	{{form.chapter.errors}}
        	</div>
        	
        	<div class="ctrlHolder clearfix">
            {{form.interest}}
            {{form.interest.errors}}
           	</div>
  
        	<div class="ctrlHolder">
            {{form.deal_type}}
            {{form.deal_type.errors}}
           	</div>
      		<br />
      		<br />
      		<br />
      		<br />
      		<br />
        	<div class="section">
        		<button type="submit" class="button orange form-submitter right">
        			<span><strong>&nbsp;</strong>Apply For Leads</span>
        		</button>
        	</div>
         </div>
   		</fieldset>
	</form>

{% endblock %}