{% extends 'base.html' %} 
{% block body_block %}
<!--Body section-->
<div id="bodysection">
	<div class="insidesection">
		<article class="profile"> 
		<section class="bodybg">
			{% if user.set_leadbuyer.deals %}
			<nav class="step">
			<ul>
				<li><a href="#" class="noimg">STEP 1 of 3</a></li>
				<li><a href="#" class="steptwothree">STEP 2 of 3</a></li>
				<li><a href="#" class="step3">STEP 3 of 3</a></li>
			</ul>
			</nav>
			{% endif %}
			
			<h2 class="paymethod">Apply to Buy Leads from a Community</h2>
			<p class="paybudgetttxt">Complete this form to purchase leads from
			 	a particular community. The community organizer must review and
				approve your application before we can send you leads. You will be
				notified via email about the community organizer's decision.</p>

			<form id="profile" name="" method="post" action="{% url lb_apply %}">
				{% csrf_token %}
				<section id="my-details">
					<p class="lftcontent">Community</p>
					<p>{{form.chapter}}</p>
				</section>


				<section id="my-categories">
					<p class="lftcontent">Lead Category</p>
					<p>{{form.interest}}</p>
					
					<!--  
					<p class="anyleads">Custom leads from a category not already used
						by this organization will be $50 and exclusive
					</p>
			
					<p class="anyleads">Custom Leads</p>

					<p class="lftcontent">&nbsp;</p>
					{{form.custom}}
					<p class="lftcontent">&nbsp;</p>
					-->
				
				</section>


				<section id="my-border" style="margin-top:20px;">
					<p class="lftcontent lftcontent-monthbudget">Terms</p>
					{{form.deal_type}}
					{% if expire %}
					<p> 
					Only 1 active trial allowed at a time. The current one with
					{{expire.deal.chapter.name}} expires {{expire.date}} 
					</p>
					{% endif %}
				</section>
				{{form.deal_type.errors}}
				<p class="applicationleads">
					<input name="" type="submit" value="Request deal" class="submitapp">
				</p>
	
			</form>

		</section>
		
		<div class="botbg">&nbsp;</div>
		</article>
	</div>

</div>
<!--Body section-->

{% endblock %}
