{% extends 'base.html' %}
{% block body_block %}
<!--Body section-->
<div id="bodysection">
	<div class="insidesection">
		<article class="profile"> 
			<section class="bodybg">

			<h2 class="paymethod">Payment Method and Budget</h2>
		
			<p class="paybudgetttxt">You must provide your credit card details
			before receiving any leads from BrightMap. We will validate your card
			up to your monthly budget, but you will not be charged until after
			the leads are sent. You will not be charged for free leads (e.g.
			Sponsored leads or Trial leads).
			</p>
			{% if forms.payment.ready.value %}
			<p class="paybudgetttxt2">
			Your credit card is on file. Only edit the payment form if you are
			changing or updating your credit card details
			</p>
			{% endif %}
			

			<form id="profile" name="" method="post" action="{% url lb_budget %}?payment" >
				{% csrf_token %}
				<section id="my-border">
					<p class="lftcontent">Credit Card Number </p>
					{{forms.payment.number}}{{forms.payment.number.errors}}

					<p class="lftcontent">Expiration </p>
					{{forms.payment.expire_month}}{{forms.payment.expire_year}}
					{{forms.payment.expire_month.errors}}{{forms.payment.expire_year.errors}}

					<p class="lftcontent">Street Address </p>
					{{forms.payment.address}}{{forms.payment.address.errors}}

					<p class="lftcontent">City </p>
					{{forms.payment.city}}{{forms.payment.city.errors}}

					<p class="lftcontent">State</p>
					{{forms.payment.state}}{{forms.payment.state.errors}}

					<p class="lftcontent">Zip Code</p>
					{{forms.payment.zipcode}}{{forms.payment.zipcode.errors}}
					<p class="onlymethod">
					<input name="" type="submit" value="Save profile" class="paymentonly" >
					</p>
				
				</section>
				
			</form>
			<form id="profile" name="" method="post" action="{% url lb_budget %}?budget" >
			{% csrf_token %}
				<p class="budgetdeterminetxt">
				Your budget determines the maximum dollar value of leads you will receive each month.
				</p>
	 
				<section id="my-categories">
					<p class="lftcontent lftcontent-monthbudget">Monthly Budget</p>
					{{forms.budget.budget}}
					{{forms.budget.budget.errors}}
					<p class="onlymethod">
					<input name="" type="submit" value="Save profile" class="budgetonly" >
					</p>
				</section>
			
			</form>
			</section>
			<div class="botbg">&nbsp;</div>
		</article>
	</div>
</div>
<!--Body section-->

{% endblock %}
