{% extends 'base.html' %} {% load smartif %} {% block body_block %}
<!--Body section-->
<div id="bodysection">
	<div class="insidesection">
		<section class="leadbuyer">

		<h2 class="leadbuyer">Lead-Buyer Invoice</h2>
		</section>

		<article class="leastrecived">
		<div class="leadbuyertopdiv">&nbsp;</div>
		<section class="leadbuyerrept">

		<table class="ins">
			<caption class="latestrecived">Leads Sent - {{title}}</caption>

			<tr>
				<td style="background-color: #F5F6F6;">
					<table class="ins">
						<tr>
							<th class="interest">Organization</th>
							<th class="interest">Event Name</th>
							<th class="interest ">Event Date</th>
							<th class="interest">Lead Name</th>
							<th class="interest">Lead Name</th>

							<th class="interest">Company</th>

							<th class="interest">Date sent</th>
							<th class="interest interestright">Rate</th>
						</tr>
						{% for bill in bills %}
						<tr>
							<td class="recivedcontent">{{bill.organization}}</td>
							<td class="recivedcontent">{{bill.event}}</td>
							<td class="recivedcontent">{{bill.date|date:"d M"}}</td>
							<td class="recivedcontent">{{bill.name}}</td>
							<td class="recivedcontent">{{bill.email}}</td>
							<td class="recivedcontent">{{bill.company}}</td>
							<td class="recivedcontent">{{bill.connected|date:"d M"}}</td>
							<td class="recivedcontent interestright">{{bill.price}}</td>
						</tr>
						{% endfor %}
					</table>
				</td>
			</tr>
			<tr>
				<td><p class="totaltxt">
						Total:<span>{{total}}</span>
					</p>
				</td>
			</tr>
		</table>

		</section>
		<div class="leadbuyerbotdiv">&nbsp;</div>
		</article>

		<p class="returndeals">
			<a href="#">Return to Dashboard</a>
		</p>


	</div>



</div>
<!--Body section-->

{% endblock %}
