{% extends 'base.html' %} 
{% load smartif %}

{% block body_block %}
<!--Body section-->
<div id="bodysection">
	<div class="insidesection">
		<section class="leadbuyer">

		<p class="profileupdate">
			<span>Profile Updated</span>
		</p>
		<h2 class="leadbuyer">Lead-Buyer Dashboard</h2>
		</section>
		<nav class="leadbuyer">
		<ul>
			<li><a href="{% url lb_signup %}" class="upprofile">Update Profile</a></a>
			</li>
			<li><a href="{% url lb_payment %}" class="uppayment">Update Payment &amp;
					Budget</a>
			</li>
			<li><a href="{% url lb_apply %}" class="registernewdeal">Request a New Deal</a>
			</li>
		</ul>
		</nav>
		<article class="leastrecived">
		<div class="leadbuyertopdiv">&nbsp;</div>
		<section class="leadbuyerrept">

		<table class="ins">
			<caption class="latestrecived">Deals</caption>

			<tr>
				<td style="background-color: #F5F6F6;">
					<table class="ins">
						<tr>
							<th class="interest">Interest</th>
							<th class="interest">Organization</th>
							<th class="interest ">TERMS</th>
							<th class="interest">START DATE</th>
							<th class="interest">Leads<br> Sent</th>
							<th class="interest">Lead<br>PRICE</th>

							<th class="interest">TOTAL</th>
							<th class="interest interestright">ACTION</th>
						</tr>
						{% for term in terms %}
						<tr>
							<td class="recivedcontent">{{term.interest}}</td>
							<td class="recivedcontent">{{term.chapter}}</td>
							<td class="recivedcontent">{{term.status}}</td>
							<td class="recivedcontent">{{term.date|date:"d M Y"}}</td>
							<td class="recivedcontent">{{term.connections}}</td>
							<td class="recivedcontent">{{term.cost}}</td>
							<td class="recivedcontent">{{term.total}}</td>
							<td class="recivedcontent interestright"><a href="#">Cancel</a>
							</td>
						</tr>
						{% endfor %}

					</table>
				</td>
			</tr>
			<tr>
				<td><p class="totaltxt">
						Total:<span>{{total.total}}</span>
					</p>
				</td>
			</tr>
		</table>

		</section>
		<div class="leadbuyerbotdiv">&nbsp;</div>
		</article>


		<article class="leastrecived" style="margin-bottom:0px;">
		<div class="leadbuyertopdiv">&nbsp;</div>
		<section class="leadbuyerrept">
		<h2 class="latestrecived">Past Invoices</h2>
		{% for invoice in invoices %}
		<ul class="pastinvoice">
			<li><a href="{% url lb_bill %}?invoice={{invoice.pk}}">{{invoice.bill}}</a></li>
		</ul>
		{% endfor %}
		
		</section>
		<div class="leadbuyerbotdiv">&nbsp;</div>
		</article>
		<nav class="backnxt">
		<a href="#">Back</a>
		<span>|</span>
		<a href="#">Next</a></nav>

	</div>



</div>
<!--Body section-->
{% endblock %}
