{% extends 'base.html' %} 
{% load smartif %}
 
{% block javascript %}
<!--popup script start-->
<link type='text/css' href='/media/css/basic.css' rel='stylesheet' media='screen' />
<script type="text/javascript" src="/media/js/jquery.simplemodal.js"></script>
<script type="text/javascript" src="/media/js/basic.js"></script>
<!--popup script end-->
{% endblock %} 


{% block body_block %}
<!--Body section-->
<div id="bodysection">
	<div class="insidesection">
		<section class="leadbuyer">

		{% if state %}
		<p class="profileupdate">
			<span>{{state}}</span>
		</p>
		{% endif %}
		<h2 class="leadbuyer">Service Provider Dashboard</h2>
		</section>
		<nav class="leadbuyer">
		<ul>
			<li><a href="{% url lb_signup %}"  class="upprofile">Update
					Profile</a></a></li>
			<li><a href="{% url lb_payment %}" class="uppayment">Update
					Payment &amp; Budget</a></li>
			<li><a href="{% url lb_apply %}" class="registernewdeal">Request
					a New Deal</a></li>
		</ul>
		</nav>
		<article class="leastrecived">
		<div class="leadbuyertopdiv">&nbsp;</div>
		<section class="leadbuyerrept">

		<table class="ins">
			<caption class="latestrecived">Deals</caption>
			<tr>
				<td style="background-color: #F5F6F6;">
					<table class="ins">
						<tr>
							<th class="interest">Interest</th>
							<th class="interest">Organization</th>
							<th class="interest ">TERMS</th>
							<th class="interest">START DATE</th>
							<th class="interest">Leads<br> Sent</th>
							<th class="interest">Lead<br>PRICE</th>

							<th class="interest">TOTAL</th>
							<th class="interest interestright">ACTION</th>
						</tr>
						{% for term in terms %}
						<tr>
							<td class="recivedcontent">{{term.interest}}</td>
							<td class="recivedcontent">
								<a href="{% url lb_chapter%}?chapter={{term.chapter.pk}}&term={{term.pk}}">
								{{term.chapter.name}}
								</a>
							</td>
							<td class="recivedcontent">{{term.status}}</td>
							<td class="recivedcontent">{{term.date|date:"d M Y"}}</td>
							<td class="recivedcontent">{{term.connections}}</td>
							<td class="recivedcontent">{{term.cost}}</td>
							<td class="recivedcontent">{{term.total}}</td>
							<td class="recivedcontent interestright">
							{% if term.status == 'Canceled' or term.status == 'Rejected'%}
								Canceled
							{%else%}
								<a href="{% url lb_cancel%}?term={{term.pk}}" class="itlink">Cancel</a>
							{%endif%}
							</td>
		
						</tr>
						{% endfor %}
					</table></td>
			</tr>
			<tr>
				<td><p class="totaltxt">
						Total:<span>{{total.total}}</span>
					</p>
				</td>
			</tr>
		</table>

		</section>
		<div class="leadbuyerbotdiv">&nbsp;</div>
		</article>

		<article class="leastrecived" style="margin-bottom:0px;">
		<div class="leadbuyertopdiv">&nbsp;</div>
		<section class="leadbuyerrept">
		<h2 class="latestrecived">Past Invoices</h2>
		<table class="invoice">
			{% for invoice in invoices %}
			<tr>
				{% for i in invoice %}
				<td><a href="{% url lb_bill %}?invoice={{i.pk}}">{{i.title}}</a>
				</td> {% endfor %}
			</tr>
			{% endfor %}
		</table>

		</section>
		<div class="leadbuyerbotdiv">&nbsp;</div>
		</article>
		<!--  
		<nav class="backnxt"> <a href="#">Back</a> <span>|</span> <a
			href="#">Next</a>
		</nav>
		-->
	</div>
</div>

<!--thickbox-->
<div style="display: none;">
	<div id="itlinkcontent">
		<h2 class="popupheading1">Are you sure you want to cancel this deal?</h2>
		<p class="canceldeal">
			<a class="canceldealq">Yes, cancel deal</a> 
			<a href="" class="nokeepdeal">No, keep deal</a>
		</p>
	</div>
</div>

<!--thickbox-->

<!-- preload the images -->
<div style='display: none'>
	<img src='/media/img/x.png' alt='' />
</div>

<!--Body section-->
{% endblock %}
